PORT=3001

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL="postgresql://postgres:123@localhost:5432/decoverse_db?schema=public"

OPENAI_API_KEY=
HUGGINGFACE_API_KEY=
GEMINI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AUTH0_DOMAIN=dev-t1qc0rb43r2wkzr4.us.auth0.com
AUTH0_ISSUER_URL=https://dev-t1qc0rb43r2wkzr4.us.auth0.com/
AUTH0_AUDIENCE=https://api.decoverse.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
